html, body {
    font-family: 'Roboto', sans-serif !important;
    color: #fff;
}

.footer {
    height: 30vh;
    background-color: green;
    color: #fff;
  }

  a {
    text-decoration: none;
  }

  .slideshow-container {
    max-height: 50vh;

  }

    #myNav {
        transition: 0.4s;
        background: #fff !important;
    }

    .subNav {
        background: green !important;
        color: #fff !important;
    }

    .subNav a {
        color: #fff !important;
    }

    .subNav a:hover {
        color: lightgrey !important;
    }


    img {
    max-height: 50vh;
    }
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 10s;
    }
    
    @keyframes fade {
      from {opacity: .2}
      to {opacity: 1}
    }
    
